<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DBproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginCLServlet</servlet-name>
    <servlet-class>Servlet.LoginCLServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCLServlet</servlet-name>
    <url-pattern>/LoginCLServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerMain</servlet-name>
    <servlet-class>com.glp.view.CustomerMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerMain</servlet-name>
    <url-pattern>/CustomerMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerRegister</servlet-name>
    <servlet-class>Servlet.customerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerRegister</servlet-name>
    <url-pattern>/customerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>supplierRegister</servlet-name>
    <servlet-class>Servlet.supplierRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supplierRegister</servlet-name>
    <url-pattern>/supplierRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerMain</servlet-name>
    <servlet-class>com.glp.view.ManagerMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerMain</servlet-name>
    <url-pattern>/ManagerMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SupplierMain</servlet-name>
    <servlet-class>com.glp.view.SupplierMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupplierMain</servlet-name>
    <url-pattern>/SupplierMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerCustomer</servlet-name>
    <servlet-class>com.glp.tableService.ManagerCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerCustomer</servlet-name>
    <url-pattern>/ManagerCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerSupplier</servlet-name>
    <servlet-class>com.glp.tableService.ManagerSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSupplier</servlet-name>
    <url-pattern>/ManagerSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyProduct</servlet-name>
    <servlet-class>com.glp.tableService.ModifyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProduct</servlet-name>
    <url-pattern>/ModifyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifySupplier</servlet-name>
    <servlet-class>com.glp.tableService.ModifySupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifySupplier</servlet-name>
    <url-pattern>/ModifySupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyCustomer</servlet-name>
    <servlet-class>com.glp.tableService.ModifyCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyCustomer</servlet-name>
    <url-pattern>/ModifyCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchSupplier</servlet-name>
    <servlet-class>com.glp.tableService.searchSupplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchSupplier</servlet-name>
    <url-pattern>/searchSupplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchCustomer</servlet-name>
    <servlet-class>com.glp.tableService.searchCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCustomer</servlet-name>
    <url-pattern>/searchCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCl</servlet-name>
    <servlet-class>shoppingServlet.ShoppingCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCl</servlet-name>
    <url-pattern>/ShoppingCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoShowMyCart</servlet-name>
    <servlet-class>shoppingServlet.GoShowMyCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoShowMyCart</servlet-name>
    <url-pattern>/GoShowMyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoMyOrder</servlet-name>
    <servlet-class>shoppingServlet.GoMyOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoMyOrder</servlet-name>
    <url-pattern>/GoMyOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>confirmOrder</servlet-name>
    <servlet-class>shoppingServlet.confirmOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmOrder</servlet-name>
    <url-pattern>/confirmOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewHistory</servlet-name>
    <servlet-class>shoppingServlet.ViewHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewHistory</servlet-name>
    <url-pattern>/ViewHistory</url-pattern>
  </servlet-mapping>
</web-app>